/* import background from "./images/dominik-dombrowski-KNUp-YBwBSE-unsplash.jpg";

const myStyle = {
    backgroundImage: `url(${background})`,
    height: "100vh",
    fontSize: "16px",
    backgroundSize: "cover",
    backgroundRepeat: "no-repeat",
  }; */